body{
    margin:0px;
    padding:0px;
    text-align: center;
    background-color:teal;
}

h1{
    color:white;
    font-size: 60px;
}

input{
    background-color:pink;
    color:black;
    font-size: larger;
    height:60px;
    width:450px;
    text-align: center;
    border-radius: 25px;
    border:palevioletred 2px solid;
    margin:20px;
    padding:5px;
}

input:focus{
    outline:none;
    background-color: palevioletred;
    color:white;
}

input::placeholder{
    color:blur;
    font-size: large;
}

p{
    color:white;
    font-size: large;
}

button{
    background-color: rgb(248, 107, 131);
    height:60px;
    width:120px;
    margin:20px;
    padding:10px;
    border-radius: 25px;
    border:2px solid green;
    color:white;
    font-size: large;
}

#hee button{
    background-color: rgb(248, 107, 131);
    height:60px;
    width:120px;
    margin:20px;
    padding:10px;
    border-radius: 25px;
    border:2px solid green;
    color:white;
    font-size: large;
}

button:hover,#hee button:hover{
    background-color: white;
    color:rgb(248, 107, 131);
}

footer{
    position: fixed;
    bottom:10px;
    width:100%;
    color: white;
    font-size: large;
}

alert{
    color:blue;
}

